section {

  background-color: blue;
  border: 2px solid black;
  width: 70%;
  margin: 60px auto 10px auto;
  height: 30%;


  aside {
    background-color: yellow;
    border: 1px solid black;
    height: 40px;
    width: 30%;
    margin: 0 auto;



  }






}
