section {

  width: 70%;
  margin: 60px auto 10px auto;
  height: 30%;



    aside {
      background-color: #EFF3F0;
      border: 1px solid black;
      height: 50px;
      width: 20%;
      float: left;
      margin: 20px 30px 20px 55px;
      text-align: center;;
      padding-top: 30px;
      font-weight: bold;
      font-size: 20px;


    }


}
