main {
  border: 1px solid #000000;
  margin: 0 auto;
  width: 60%;
  height: 400px;
  background-color: #dbe1d1;

h2 {
  text-align: center;
}

.game-start {
  text-align: center;;
}

.message {
  text-align: center;
}


}
